<style></style>
<header class="header">
  <img src="src/images/omnifood-logo.png" alt="logo" class="logo" />
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a href="#" class="main-nav-link">How it works</a></li>
      <li><a href="#" class="main-nav-link">Meals</a></li>
      <li><a href="#" class="main-nav-link">Testimonials</a></li>
      <li><a href="#" class="main-nav-link">Pricing</a></li>
      <li><a href="#" class="main-nav-link nav-cta">Try for free</a></li>
    </ul>
  </nav>
</header>
