<section class="section-featured">
  <div class="container">
    <h2 class="heading-features-in">As Featured in</h2>
    <div class="logos">
      <img src="src/images/logos/techcrunch.png" alt="company-logos" />
      <img src="src/images/logos/business-insider.png" alt="company-logos" />
      <img src="src/images/logos/the-new-york-times.png" alt="company-logos" />
      <img src="src/images/logos/forbes.png" alt="company-logos" />
      <img src="src/images/logos/usa-today.png" alt="company-logos" />
    </div>
  </div>
</section>
